/* Default Styles */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #444;
    background: rgb(0, 101, 163);
    font-family: 'Roboto', sans-serif;
}

a {
    color: #444;
}
/* End Default Styles */

/* Login Page Styles */
.login_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    /* background: #F7AD41; */
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.zapp-login_logo {
    height: 100px;
}

.zapp_tagline {
    color: white;
    font-size: 20px;
    padding-bottom: 1em;
}

/* flex the title/tagline into vertical center alingment */
.logo_vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* reduce the space between the logo and login card start height */
.zapp-logo_spacing {
    height: 75% !important;
}

.onsite_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: rgb(0, 101, 163);
    padding: 10px;
    text-align: center;
}

.onsite_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    /* border: 1px solid white; */
}

.login_title {
    color: rgb(0, 101, 163);
    color: #444;
    padding-bottom: 1em;
    /* color:white; */
    /* font-size: 20px; */
}

/* padding between title and card */
.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #EE7411;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_btn:hover {
    box-shadow: none !important;
    outline: 0px !important;
    color: white !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #EE7411 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #EE7411 !important;
}
/* End Login Card Styles */



/* Navbar Styles */
/* lougout CTA - vertical allignment */
div.nav-link.p-0.color-white {
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-link {
    color: white;
}

.cta-logout {
    color: #444;
    border: 1px solid white;
    margin-right: 1em;
}

.cta-logout:hover {
    color: #ffffff;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #EE7411;
}
/* End Navbar Styles */


/* Show Fairs Styles */

/* background-main */
#bg-gradient {
    background: rgb(0, 101, 163);
}

.main-box {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(161, 120, 120, 0.09);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    padding: 10px !important;
}


/* Display-Fairs Styles */
.fair-display-text {
    padding-top: 1em;
    color: #BBBDC0;
    font-style: italic;
    text-align: center;
}

.fair-select {
    /* background-color: red; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
}

/* Fair hover selecting styles */
body>div.container>a div.fair-select:hover {
    background-color: #ededed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(161, 120, 120, 0.05);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.fair-select .fa-chevron-circle-right {
    color: #444;
}

/* make each odd row a diff color - only works on the text not div */
div.container.main-box.p-0.all-fairs 
> a.test:nth-of-type(odd) {
    background: #f5f5f5 !important;
}
/* End Fair Styles  */



/* Start Booth Styles */
.site-map { 
background-color: #EE7411;
border-radius: 5px;
/* border: 1px solid #fff; */
color: #fff;
}

.display-scores-table {
    margin-top: 1em;
}

/* Modal Styles  */
.modal-header { 
    color:#fff; 
    background-color:#148137 ;
    font-size: 1.4em;
}

/* Modal Stlyes  */
.modal-body {
    color: #444;
}

.search-paramaters-flex {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.scored {
    color: #148137;
    font-weight: bold;
}

.conflict {
    color: #305C89;
    font-weight: bold;
}

.score_btn {
    color: #fff;
    background-color: #305C89;
}

/* Scorecard Styles */

/* Display-Fairs Styles */
.scorecard-header-text {
    padding-top: 1em;
    color: #BBBDC0;
    /* font-style: bold; */
    text-align: center;
    /* font-size: 2em; */
}

.scorecard-display-text {
    /* padding-top:1em; */
    color: #BBBDC0;
    font-style: 900;

    font-size: 1.5em;
}

.scorecard-split-flex {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.show-thumbnails-cta {
color:#fff;
background: rgb(0, 101, 163);
}


.card-body { 
    background-color: #fff;
}
.booth-number {
    font-weight: bold;
    /* font-size: 1.2em; */
}

.booth-name {
    font-weight: bold;
}

.booth-medium {
    font-style: italic;
}


.label {
    font-size: .8em;
    font-style: normal !important;
    color: #444;
}

.label-big {
    font-size: 1.2em;
    font-style: normal !important;
    color: #444;
}


.btn-save {
    background-color: #148137;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(161, 120, 120, 0.05);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
}


.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.scorecard-info {
    width: 50%;
    text-align: left;
    padding-right: 20px;
}

.show {
    background: rgb(0, 101, 163);
    color: white;
}

/* Slider Styles */
.slidecontainer {
    width: 100%;
  }

  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
/* End Slider Styles */

/* Booth Stlyes */

.booth-split-flex {
    display: flex;
    justify-content: space-around;
}

.booth-label {
    font-weight: 900;
    font-size: 1.5em;
}

.btn-dropdown {
    border: 1px solid #444;
    background-color: white;
}

.booth-fair-title {
    font-weight: 900;
    font-size: 1.5em;
}

.booth-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 0.5px solid #d3d3d3;
}

/* Score Status Styles */
.score-status-no-score-given {
    columns: #444444;
    font-style: italic !important;
}

.score-status-incomplete {
    color: #E92228;
}

.score-status-saved {
    color: #148137;
}

.score-status-submitted {
    color: rgb(0, 101, 163);
    font-size: 1.2em;
    font-weight: bold !important;
}

.card-format {
    display: flex;
    justify-content: space-between;
}

.split-col {
    display: flex;
    justify-content: space-between;

}

.col-info { 
    display: flex;
    flex-direction: column;
}

.scorecard-flag {
    min-width: 130px;

}
/* End Scorecard Stlyes */

